{% extends 'base.html' %}

{% load media_url %}

{% block title %}Домашняя страница{% endblock %}

{% block content %}

    <!-- Здесь выводим список товаров -->
    <div class="container mt-5">
        <h2>Список товаров</h2>
        <div class="col-12 mb-5">
            <a class='btn btn-outline-primary' href="{% url 'catalog:create_product' %}">Добавить новый продукт</a>
        </div>
        <div class="row">
            {% for product in products %}
                <div class="col-3">
                    <div class="card mb-3">
                        <img src="{{ product.image|media_url }}" class="card-img-top" alt="{{ product.name }}">
                        <div class="card-body">
                            <h3 class="card-title">{{ product.name }}</h3>
                            <p class="card-text">{{ product.description|slice:":30" }}</p>
                            <p class="card-text">Цена: {{ product.price }}</p>
                            {% if product.current_version %}
                            <p>Текущая версия: {{ product.current_version.version_title }} ({{ product.current_version.version_number }})</p>
                            {% else %}
                                <span class="text-muted">{{ object | title }}</span>
                            {% endif %}
                        </div>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                                <a href="{% url 'catalog:product_detail' product.pk %}" type="button"
                                   class="btn btn-sm btn-outline-secondary">View</a>
                                <a href="#"
                                   class="btn btn-sm btn-outline-danger">Delete</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
