{% extends 'catalog/base.html' %}

{% block content %}
<div class="col-12">
    <form class="row" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Редактировать продукт</h3>
                </div>
                <div class="card-body">
                    {{ form.as_p }}
                </div>
            </div>
        </div>
        <div class="col-6">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">Версии продукта</h3>
                </div>
                <div class="card-body">
                    {{ versions.management_form }}
                    {% for form in versions.forms %}
                        {{ form.as_p }}
                        {% if not forloop.last %}
                            <hr>
                        {% endif %}
                    {% endfor %}
                </div>
                <div class="card-footer">
                    <button type="submit" class="btn btn-success">Сохранить изменения</button>
                    {% if perms.catalog.can_cancel_publish_product %}
                        <form method="post" action="{% url 'catalog:cancel_publish' product.pk %}" style="display:inline;">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-danger">Отменить публикацию</button>
                        </form>
                    {% endif %}
                </div>
            </div>
        </div>
    </form>
</div>
{% endblock %}

