{% extends 'catalog/base.html' %}

{% load static %}

{% block title %}Продукты в категории {{ category.name }}{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2>Продукты в категории {{ category.name }}</h2>
    <div class="row mb-3">
        <div class="col-12">
            <a href="{% url 'catalog:category_list' %}" class="btn btn-outline-secondary">К списку категорий</a>
            <a href="{% url 'catalog:home' %}" class="btn btn-outline-secondary">На главную</a>
        </div>
    </div>
    <div class="row">
        {% for product in products %}
        <div class="col-md-4">
            <div class="card mb-4 shadow-sm">
                {% if product.image %}
                    <img src="{{ product.image.url }}" class="bd-placeholder-img card-img-top" width="100%" height="225" aria-label="Placeholder: Thumbnail">
                {% else %}
                    <img src="{% static 'images/default-image.jpg' %}" class="bd-placeholder-img card-img-top" width="100%" height="225" aria-label="Placeholder: Thumbnail">
                {% endif %}
                <div class="card-body">
                    <p class="card-text">{{ product.name }}</p>
                    <p class="card-text">{{ product.description|slice:":30" }}...</p>
                    <p class="card-text">Цена: {{ product.price }}</p>
                    {% if product.current_version %}
                    <p class="card-text">Текущая версия: {{ product.current_version.version_title }} ({{ product.current_version.version_number }})</p>
                    {% endif %}
                    <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a href="{% url 'catalog:product_detail' product.pk %}" class="btn btn-sm btn-outline-secondary">Просмотр</a>
                            {% if user == product.owner or perms.catalog.can_change_product_description and perms.catalog.can_change_product_category and perms.catalog.can_cancel_publish_product %}
                                <a href="{% url 'catalog:product_update' product.pk %}" class="btn btn-sm btn-outline-secondary">Редактировать</a>
                                <a href="{% url 'catalog:product_delete' product.pk %}" class="btn btn-sm btn-outline-danger">Удалить</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {% empty %}
        <p>Продукты отсутствуют.</p>
        {% endfor %}
    </div>
</div>
{% endblock %}
